out/ia360-handoff-before-update-20260602.json
[{"updatedAt":"2026-06-02T00:08:06.863Z","createdAt":"2026-06-01T22:28:38.895Z","id":"IA360WhatsAppHandoffDraft20260601","name":"IA360 WhatsApp Handoff → EspoCRM Active","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ia360-whatsapp-handoff","responseMode":"responseNode","options":{}},"id":"Webhook_IA360_Handoff","name":"Webhook IA360 Handoff","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,0]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"\nconst payload = $input.first().json.body || $input.first().json;\nfunction cleanDigits(v) { return String(v || '').replace(/\\D/g, ''); }\nfunction required(v, name) { if (!v) throw new Error(`Missing ${name}`); return v; }\nconst espoBase = required($env.ESPOCRM_URL, 'ESPOCRM_URL').replace(/\\/$/, '') + '/api/v1';\nconst espoUser = required($env.ESPOCRM_ADMIN_USERNAME, 'ESPOCRM_ADMIN_USERNAME');\nconst espoPass = required($env.ESPOCRM_ADMIN_PASSWORD, 'ESPOCRM_ADMIN_PASSWORD');\nconst auth = 'Basic ' + Buffer.from(`${espoUser}:${espoPass}`).toString('base64');\nasync function espo(method, path, body) {\n  const opts = { method, url: espoBase + path, headers: { Authorization: auth, 'Content-Type': 'application/json' }, json: true };\n  if (body) opts.body = body;\n  try {\n    return await this.helpers.httpRequest(opts);\n  } catch (e) {\n    throw new Error(`Espo ${method} ${path} failed: ${e.message}`);\n  }\n}\nasync function findByName(entity, name) {\n  const qs = 'where%5B0%5D%5Btype%5D=equals' + '&where%5B0%5D%5Battribute%5D=name' + '&where%5B0%5D%5Bvalue%5D=' + encodeURIComponent(name) + '&maxSize=1';\n  const data = await espo.call(this, 'GET', `/${entity}?${qs}`);\n  return (data.list || [])[0] || null;\n}\nasync function upsertByName(entity, name, body) {\n  const existing = await findByName.call(this, entity, name);\n  if (existing && existing.id) {\n    const updated = await espo.call(this, 'PUT', `/${entity}/${existing.id}`, body);\n    return { action: 'updated', record: updated };\n  }\n  const created = await espo.call(this, 'POST', `/${entity}`, body);\n  return { action: 'created', record: created };\n}\nif (payload.source !== 'forgechat-ia360-webhook') throw new Error('Invalid source');\nconst contact = payload.contact || {};\nconst trigger = payload.trigger || {};\nconst wa = cleanDigits(contact.contactNumber);\nif (!wa) throw new Error('Missing contact.contactNumber');\nconst displayName = contact.contactName || `WhatsApp ${wa}`;\nconst eventType = payload.eventType || 'ia360_handoff';\nconst targetStage = payload.targetStage || 'Agenda en proceso';\nconst priority = payload.priority === 'high' ? 'High' : 'Normal';\nconst marker = '[ForgeChat IA360 n8n Sync]';\nconst accountName = 'ForgeChat IA360 WhatsApp';\nconst contactName = `${displayName} WhatsApp IA360`;\nconst opportunityName = `IA360 WhatsApp - ${displayName}`;\nconst taskName = `IA360 WhatsApp handoff - ${displayName}`;\nconst summary = payload.summary || '';\nconst descriptionBase = `${marker}\\nEvento: ${eventType}\\nPrioridad: ${payload.priority || 'normal'}\\nStage ForgeChat: ${targetStage}\\nContacto WA: +${wa}\\nNombre: ${displayName}\\nÚltima respuesta: ${trigger.messageBody || ''}\\nResumen: ${summary}\\nOcurrió: ${payload.occurredAt || new Date().toISOString()}\\nAcciones recomendadas: ${(payload.recommendedActions || []).join(', ')}`;\nconst appUser = await espo.call(this, 'GET', '/App/user');\nconst currentUser = appUser.user || appUser;\nconst assignedUserId = currentUser.id;\nconst assignedUserName = currentUser.name || currentUser.userName || 'Admin';\nconst accountRes = await upsertByName.call(this, 'Account', accountName, { name: accountName, type: 'Customer', assignedUserId, assignedUserName, description: `${marker}\\nCuenta puente para handoffs IA360 generados desde ForgeChat WhatsApp. Último WA: +${wa}.` });\nconst parts = displayName.split(/\\s+/);\nconst firstName = parts.slice(0, -1).join(' ') || displayName;\nconst lastName = parts.length > 1 ? `${parts[parts.length - 1]} WhatsApp IA360` : 'WhatsApp IA360';\nconst contactRes = await upsertByName.call(this, 'Contact', contactName, { firstName, lastName, assignedUserId, assignedUserName, description: descriptionBase + '\\n\\nNota: WA se guarda en descripción para evitar rechazo por validación estricta de phoneNumber en EspoCRM.' });\nconst closeDate = new Date(Date.now() + 14 * 86400000).toISOString().slice(0, 10);\nconst opportunityRes = await upsertByName.call(this, 'Opportunity', opportunityName, { name: opportunityName, stage: targetStage.includes('Agenda') || eventType.includes('agenda') ? 'Qualification' : 'Prospecting', amount: 0, closeDate, assignedUserId, assignedUserName, description: descriptionBase });\nconst due = new Date(Date.now() + (priority === 'High' ? 2 : 24) * 3600000).toISOString().slice(0, 19).replace('T', ' ');\nconst taskRes = await upsertByName.call(this, 'Task', taskName, { name: taskName, status: 'Not Started', priority, dateEnd: due, assignedUserId, assignedUserName, description: descriptionBase + '\\n\\nSiguiente acción humana: revisar contexto en ForgeChat y proponer horario real; no contar como reunión confirmada hasta crear evento.' });\nreturn [{ json: { ok: true, source: 'n8n-ia360-handoff-code-httpRequest', eventType, wa, espocrm: { account: { action: accountRes.action, id: accountRes.record.id, name: accountRes.record.name }, contact: { action: contactRes.action, id: contactRes.record.id, name: contactRes.record.name }, opportunity: { action: opportunityRes.action, id: opportunityRes.record.id, name: opportunityRes.record.name, stage: opportunityRes.record.stage }, task: { action: taskRes.action, id: taskRes.record.id, name: taskRes.record.name, priority: taskRes.record.priority, status: taskRes.record.status } } } }];\n"},"id":"Code_EspoCRM_Sync","name":"Code EspoCRM Sync","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,0]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"Respond_OK","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20,0]}],"connections":{"Webhook IA360 Handoff":{"main":[[{"node":"Code EspoCRM Sync","type":"main","index":0}]]},"Code EspoCRM Sync":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"360c0bc2-0aac-49dd-9fd7-9196f48b6db5","activeVersionId":"360c0bc2-0aac-49dd-9fd7-9196f48b6db5","versionCounter":6,"triggerCount":1,"tags":[{"updatedAt":"2026-06-01T22:28:38.895Z","createdAt":"2026-06-01T22:28:38.895Z","id":"GevR8V8p4weYv4o9","name":"IA360"},{"updatedAt":"2026-06-01T22:28:38.895Z","createdAt":"2026-06-01T22:28:38.895Z","id":"JKdc06SnqEo5aUV4","name":"WhatsApp"},{"updatedAt":"2026-06-01T22:28:38.895Z","createdAt":"2026-06-01T22:28:38.895Z","id":"Mrv6HU61TvlSCBJN","name":"Draft"},{"updatedAt":"2026-06-01T23:28:07.256Z","createdAt":"2026-06-01T23:28:07.256Z","id":"FaXtEsPA6Gvn73ii","name":"EspoCRM"},{"updatedAt":"2026-06-01T23:28:07.256Z","createdAt":"2026-06-01T23:28:07.256Z","id":"i6lTsZ3zExF8Ofo5","name":"Active"}],"shared":[{"updatedAt":"2026-06-01T22:28:38.895Z","createdAt":"2026-06-01T22:28:38.895Z","role":"workflow:owner","workflowId":"IA360WhatsAppHandoffDraft20260601","projectId":"PkheZ3AbJclgQBDS","project":{"updatedAt":"2026-06-01T18:44:22.667Z","createdAt":"2026-05-31T21:43:25.896Z","id":"PkheZ3AbJclgQBDS","name":"Alek Zen <ocompudoc@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2572bebb-0460-4a1a-a2b7-5455dd549e21"}}],"versionMetadata":{"name":null,"description":null}}]